#app-navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(255, 255, 255, 0.099);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  z-index: 2;
  padding-left: 4%;
  padding-right: 4%;
}

#app-navbar .logo {
  width: 100px;
}

#app-navbar #buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  list-style: none;
}

#buttons-mobile {
  display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 12px;
    flex-direction: column;
    list-style: none;
  
}

#app-navbar #buttons li {
  cursor: pointer;
}
